parameters:
	ignoreErrors:
	    - '#Instantiated class Devboard\\GitHubBuild\\Core\\GitHubBuildId not found.#'
	    - '#Instantiated class Devboard\\GitHubPullRequest\\Core\\GitHubPullRequestRootId not found.#'
includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon